<footer id="footer">
	<div class="container">
		<div class="row">
			{{ if .Site.Params.footerEnableContact }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact Us</h3>
				<div class="widget-body">
					<p>{{ .Site.Params.phone }}<br>
						<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
						<br>
						{{ .Site.Params.address }}
					</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFollowme }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow Us</h3>
				<p>Follow us on Social Media for the latest updates</p>
				<div class="widget-body">
					<p class="follow-me-icons">
                        {{ range .Site.Params.social }}
                            {{ if .footer }}
                                <a href="{{ .url }}" target="_blank"><i class="fa {{ .icon }} fa-2"></i></a>
                            {{ end }}
                        {{ end }}
					</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableTextWidget }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Local Chapters</h3>
				<div class="widget-body">
					<p>Interested in starting a Stoned Apes chapter in your local area? Contact us for more information.</p>
					<p></p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFormWidget }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Subscribe</h3>
				<div class="widget-body">
                <div id="mailchimp">
                    <div id="mc_embed_signup">
                    <form action="https://psychedelicsdaily.us17.list-manage.com/subscribe/post?u=8cabd5d7cbf2b2401abbd4fb5&amp;id=99e8f2900f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">Subscribe to <a href="https://TheStonedApes.org">The Stoned Apes</a> Newsletter</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cabd5d7cbf2b2401abbd4fb5_99e8f2900f" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    </div>
                </div>
				</div>
			</div>
			{{ end }}

		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>{{ .Site.Params.address }}</p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; {{ .Site.Params.year }}, {{ .Site.Params.name }}<br>
						Design: <a href="http://www.TheStonedApes.com" rel="designer">Hash C. Borgir</a> -
                        Powered by: Potent Psychedelics
                    </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ partial "analyticstracking.html" . }}
</body>
</html>
