{{ if eq .URL "/" }}
<script type="application/ld+json">
{
    "@context":"http://schema.org",
    "@type":"Website",
    "name":"{{.Title}}",
    "@id":"{{.Permalink}}",
    "aggregateRating":
    {"@type": "AggregateRating",
     "ratingValue": "4.6",
     "reviewCount": "72"
    },
    "mainEntityOfPage":"{{ .Permalink }}",
    "headline":"{{ .Site.Params.description }}",
    "datePublished":"{{ .Date}}",
    "dateModified":"{{ .Date}}",
    "description":"{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}",
    "author":{
        "@type":"Person",
        "name":"{{ .Site.Params.author }}"
    },
    "image":"{{.Site.BaseURL}}{{ .Site.Params.logo}}",
    "url":"{{.Permalink}}",
    "publisher":{
        "@type":"Organization",
        "name":"The Stoned Apes",
        "logo":{
            "@type":"ImageObject",
            "url":"https://i.imgur.com/I10Ik9U.jpg",
            "width":"250",
            "height":"250"
        }
    }
}
</script>
{{ end }}

{{ if ne .URL "/" }}

<script type="application/ld+json">
{
    "@context":"http://schema.org",
    "@type":"Article",
    "name":"{{.Title}}",
    "@id":"{{.Permalink}}",
    "aggregateRating":
    {"@type": "AggregateRating",
     "ratingValue": "4.9",
     "reviewCount": "86"
    },
    "mainEntityOfPage":"{{ .Permalink }}",
    "headline":"{{ .Title }}",
    "datePublished":"{{ .Date}}",
    "dateModified":"{{ .Date}}",
    "description":"{{ .Description }}",
    "author":{
        "@type":"Person",
        "name":"{{ .Site.Params.author }}"
    },
    "image":"{{.Site.BaseURL}}{{with .Params.images}}{{ index . 0}}{{end}}",
    "url":"{{.Permalink}}",
    "publisher":{
        "@type":"Organization",
        "name":"The Stoned Apes",
        "logo":{
            "@type":"ImageObject",
            "url":"https://i.imgur.com/I10Ik9U.jpg",
            "width":"250",
            "height":"250"
        }
    }
}
</script>
{{ end }}