<!-- layouts/partials/seo/twitter.html -->
{{ if .IsPage }}
{{ with .Params.images }}
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ index . 0 | absURL }}">
<meta name="twitter:card" content="summary">
{{ end }}

<!-- Twitter Card data -->
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{ with .Site.Params.socialmedia.twitter }}
<meta name="twitter:site" content="@{{ . }}">
{{ end }}


{{ with .Site.Params.socialmedia.twitter_domain }}
<meta name="twitter:domain" content="{{ . }}">
{{ end }}


{{ with .Site.Params.socialmedia.creator }}
<meta name="twitter:creator" content="@{{ . }}">
{{ end }}


{{ else }} <!-- If not article page -->


<meta name="twitter:card" content="summary" >


{{ with .Site.Params.socialmedia.twitter }}
<meta name="twitter:site" content="@{{ . }}">
{{ end }}


<meta name="twitter:title" content="{{ .Title }}">


<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">


{{ with .Site.Params.images }}
{{ range first 6 . }}
<meta name="twitter:image" content="{{ . | absURL }}" >
{{ end }}
{{ end }}


{{ with .Site.Params.socialmedia.creator }}
<meta name="twitter:creator" content="@{{ . }}">
{{ end }}

{{ end }}